<%- include('header'); -%>

<div class="row pad-top">
  <div class="col"></div>
  <div class="col-6">
    <% if (!card) { %>
    <h4>Add a new Card</h4>
    <form class="" ref="newCard" action="/cards/findCard" method="get">
      <div class="form-group">
        <input type="text" class="form-control" name="title" value="" placeholder="Card Title">
      </div>
      <button class="btn btn-success" type="submit" name="button">Find Your Card</button>
    </form>
    <% } %>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>

  <div class="col-3">
    <% if (card) { %>
    <h1>
      <%= card[0].name %>
    </h1>
    <img src="<%= card[0].imageUrl %>" alt="">
    <% } %>
  </div>

  <div class="col-3">
    <% if (card) { %>
    <h5>Mana Cost: <span><%= card[0].manaCost %> </span></h5>
    <h5>Color Identity: <span><%= card[0].colorIdentity %> </span></h5>
    <h5>Type: <span><%= card[0].type %> </span></h5>
    <h5>Rarity: <span><%= card[0].rarity %> </span></h5>
    <h5>Set Name: <span><%= card[0].setName %> </span></h5>
    <h5>Artist: <span><%= card[0].artist %> </span></h5>
    <h5>Number: <span><%= card[0].number %> </span></h5>
    <h5>Power: <span><%= card[0].power %> </span></h5>
    <h5>Toughness: <span><%= card[0].toughness %> </span></h5>
    <h5>Multi-Verse ID: <span><%= card[0].multiverseid %> </span></h5>
    <% } %>
  </div>

  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <% if (card) { %>
    <form class="" ref="newCard" action="/cards/addNewCard" method="post">
      <div class="form-group">
        <input type="hidden" class="form-control" value="<%= card[0].name %>" name="cardName">
        <input type="hidden" class="form-control" value="<%= card[0].imageUrl %>" name="imageUrl">
        <input type="hidden" class="form-control" value="<%= card[0].manaCost %>" name="manaCost">
        <input type="hidden" class="form-control" value="<%= card[0].colorIdentity %>" name="colorIdentity">
        <input type="hidden" class="form-control" value="<%= card[0].type %>" name="type">
        <input type="hidden" class="form-control" value="<%= card[0].rarity %>" name="rarity">
        <input type="hidden" class="form-control" value="<%= card[0].setName %>" name="setName">
        <input type="hidden" class="form-control" value="<%= card[0].artist %>" name="artist">
        <input type="hidden" class="form-control" value="<%= card[0].number %>" name="number">
        <input type="hidden" class="form-control" value="<%= card[0].power %>" name="power">
        <input type="hidden" class="form-control" value="<%= card[0].toughness %>" name="toughness">
        <input type="hidden" class="form-control" value="<%= card[0].multiverseid %>" name="multiverseid">
      </div>
      <button class="btn btn-success" type="submit" name="button">Add Your Card</button>
    </form>

    <hr>

    <form class="form-group" action="/" method="get">
      <button class="btn btn-success" type="submit" name="button">Start Over</button>
    </form>
    <% } %>
  </div>
  <div class="col"></div>
</div>

<%- include('footer'); -%>
